<div th:fragment="header" ng-controller="HeaderController"
     th:attr="ng-init='init(\''+${@menuService.getMenuDataInJson()}+'\');'">
    <script type="text/ng-template" id="menu_renderer.html">
        <a ng-href="{{item.link}}">{{item.name}}</a>
        <ul ng-if="item.items.length>0">
            <li ng-repeat="item in item.items" ng-include="'menu_renderer.html'"></li>
        </ul>
    </script>
    <ul id="main-menu" class="sm sm-blue">
        <li ng-repeat="item in menus" ng-include="'menu_renderer.html'"></li>
        <li sec:authorize="isAuthenticated()" class="nav navbar-nav pull-right">
            <a href="/logout" th:text="#{logout}">Logout</a>
        </li>
    </ul>
</div>
