<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>

<div th:if="${param.error}" class="alert alert-danger error"
     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    <span th:text="${errorMsg}"></span>
</div>

<form th:action="@{/login_do}" method="post">
    <label for="j_username">Username</label>:
    <input type="text" id="j_username" name="username"/> <br/>
    <label for="j_password">Password</label>:
    <input type="password" id="j_password" name="password"/> <br/>
    <input type="submit" value="Log in"/>
</form>
</body>
</html>